@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
@import "reset.css";

/* COMPONENTS */
@import "component/header.css";
@import "component/proverb.css";
@import "component/main.css";

/* SCREENS */
@import "screen/login.css";

body {
  max-width: 1080px;
  margin: auto;
  background-color: #2b79c7;
}

.hidden {
  display: none;
}
