.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form__title {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 800;
}

.login-form__column {
  display: flex;
  justify-content: center;
}

.login-form__column input:focus {
  outline: none;
}

.login-form__column input {
  margin-bottom: 10px;
  font-size: 20px;
  width: 300px;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-color: rgb(255, 255, 255, 0.7);
}

.login-form__column input::placeholder {
  color: rgb(255, 255, 255, 1);
  opacity: 80%;
  font-weight: 400;
}

.login-form__column input:focus-within {
  border-color: white;
}

.login-form__column button {
  background-color: white;
  opacity: 70%;
  font-size: 15px;
  border-radius: 10px;
  color: black;
  border: 0px;
  padding: 10px;
}

.login-form__column button:hover {
  background-color: beige;
  font-weight: 600;
}
